.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #8B9556;

}

.footer-item {
    padding: 60px 0px;
    color: #272932;
    font-weight: 300;
    font-size: 20px;
}

.footer-item:hover {
    color: #F5FBEF;
    cursor: pointer;

}