.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--quaternarycolorOpp);

}

.footer-item {
    padding: 60px 0px;
    color: var(--secondarycolor);
    font-weight: 300;
    font-size: 20px;
}

.footer-item:hover {
    color: var(--tertiarycolor);
    cursor: pointer;

}