.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondarycolor);
    padding: 20px 0px;
    align-items: center;
}

.nav-item {
    padding:  15px;
    color: var(--tertiarycolor);
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
}

.nav-item:hover {
    color: var(--primarycolor);
    cursor: pointer;
}