.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondarycolor);
}

.nav-item {
    padding: 30px 0px;
    color: var(tertiarycolor);
    font-weight: 300;
    font-size: 20px;
}

.nav-item:hover {
    color: var(--primarycolor);
    cursor: pointer;
}