* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#root, body {
    margin: 0;
    font-family: "Roboto", sans-serif;

    width: 100vw;
    max-width: 100%;
    border: none;
}

main {
    background-color: #272932;
    display: flex;
    justify-content: center;
    color: #F5FBEF;
    height: 75vh;
}